.post__content-wrapper {
	opacity: 0;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.post__content {
	background: red;
	width: 1500px;
	height: 1000px;
	position: relative;
}

.post__text {
	position: absolute;
	font-family: 'SF Display';
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	padding: 130px 100px;
	font-size: 119px;
	letter-spacing: 0.6px;
	color: #3C4D60;
	line-height: 146px;
}

.post__tag {
	position: absolute;
	font-family: Archive;
	left: 100px;
	bottom: 110px;
	font-size: 100px;
	color: #3C4D60;
}

.post__text .blue {
	font-size: 119px;
	letter-spacing: 0.6px;
	color: #3880D3;
	line-height: 146px;
}